---
import Logo from "./Logo.astro";
---

<header class="py-5 px-10 flex items-center fixer top-0 w-full justify-between z-40">
    <div class="flex flex-grow basis-0:">
        <Logo/>
    </div>

    <nav>
        <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#">Mision</a></li>
            <li><a href="#">Vision</a></li>
            <li><a href="#">Estudiantes</a></li>
            <li><a href="#">Recuerdos</a></li>
            <li><a href="#">Quien somos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav >
    
    <nav class="flex flex-grow justify-end">
        <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
        <li><a href="#">op1</a></li>
        <li><a href="#">op2</a></li>
        <li><a href="#">op3 </a></li>
    </ul>
</nav>
        
</header>